.todoForm {
  text-align: center;
}

.todoForm__field{
  border: 0;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  padding: 1rem;
  font-size: 1.25rem;
  width: calc(100% - 2rem);
  outline: none;
  background-color: #dedede;
}

.todoForm__field:focus{
  background-color: #e6e6e6;
}

.todoForm__button{
  padding: 0.75em;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  background-color: #528BF4;
  color: white;
  border: none;
  width: 100%;
  font-size: 1.25rem;
  box-shadow: rgb(165, 165, 165) 1px 1px 3px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.todoForm__errorDisplay {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  color: #fff;
  background-color: #FB830F;
  z-index: 1;
  position: sticky;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

@media (min-width: 576px) {
  .todoForm__field{
    border-radius: 10px;
  }
  .todoForm__button{
    border-radius: 10px;
  }
  .todoForm__errorDisplay{
    border-radius: 10px;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}