.todoItem {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  font-size: 1.5em;
  position: relative;
  border-bottom: 0.5px solid #bdc3c7;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todoItem__text{
  max-width: 80%;
  word-wrap: break-word;
}

.todoItem__deleteButton {
  position: absolute;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  right: 0;
  font-size: 0.8em;
  height: 70%;
  font-weight: 700;
  color:#bdc3c7;
  border: none;
  background-color: transparent;
}

.todoItem__deleteButton:hover{
  cursor: pointer;
  background-color: #bdc3c7;
  color: #fff ;
  border-radius: 10px;
}

.todoItem--done {
  color:#bdc3c7;
  text-decoration: line-through;
}

